#fix-search:hover{
    color: #fff;
    text-decoration: none;
    transition: all 0.25s;
}
#fix-search:visited	{
    color: #fff;
    text-decoration: none;
    transition: all 0.25s;
}
#minusIcon{
	font-size: 10px;
	padding:0px 0px;
	outline:none;
}
.btn-round {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
#td-border-hide{
	border:1px solid #fff;
	background-color: #fff;
}
#fix-search-hover:hover{
	color: #fff;
    text-decoration: none;
    transition: all 0.25s;
}
