/*@font-face {
font-family: "AxisStd-Light";
src: url("../fonts/axis/aa7c9f5f-bd2d-4fbb-a4a5-82ba2cd0189c.eot?#iefix");
src: url("../fonts/axis/aa7c9f5f-bd2d-4fbb-a4a5-82ba2cd0189c.eot?#iefix") format("eot"),
     url("../fonts/axis/18820f9e-d51e-43be-9d0f-e510d9d1878a.woff") format("woff"),
     url("../fonts/axis/cb3a3886-7dec-420d-bf42-698737ce3561.ttf") format("truetype"),
     url("../fonts/axis/9bdde1f9-7637-4fa1-994d-2f2ad4929b1f.svg#9bdde1f9-7637-4fa1-994d-2f2ad4929b1f") format("svg");
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
  font-family: 'BankGothic-Md';
  src: url("../fonts/bankgothic/bgothm-webfont.eot");
  src: url("../fonts/bankgothic/bgothm-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bankgothic/bgothm-webfont.woff") format("woff"), url("../fonts/bankgothic/bgothm-webfont.ttf") format("truetype"), url("../fonts/bankgothic/bgothm-webfont.svg#bankgothic_md_btmedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/opensans_light_macroman/OpenSans-Light-webfont.eot");
  src: url("../fonts/opensans_light_macroman/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans_light_macroman/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/opensans_light_macroman/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/opensans_light_macroman/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot");
  src: url("../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sanssemibold';
  src: url("../fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.woff") format("woff"), url("../fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sansbold';
  src: url("../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot");
  src: url("../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal; }
/* ==========================================================================
Global Styles
========================================================================== */
body,
html {
  font-family: 'open_sanslight', sans-serif;
  line-break: strict; }

html {
  background-color: #333333; }

body {
  background-color: #ffffff; }

h2 {
  font-size: 30px;
  color: #e88e2e;
  margin-bottom: 28px;
  margin-top: 0;
  font-family: "open_sanslight"; }

h3 {
  font-size: 24px;
  color: #e88e2e;
  margin-bottom: 20px; }

a {
  color: #ff9933;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

a:hover, a:focus {
  color: #ff9933;
  text-decoration: none; }

p {
  color: #000000;
  word-spacing: 1px;
  line-height: 24px;
  font-size: 14px; }

img {
  max-width: 100%;
  height: auto; }

span {
  color: #ff9933; }

.logo {
  font-family: 'BankGothic-Md';
  font-size: 35px;
  line-height: 35px; }

span.logo {
  font-size: 150%;
  line-height: normal;
  transition: all .3s ease;
  -webkit-transition: all .3s ease; }

.section-padding {
  padding: 30px 0 50px 0; }

@media (min-width: 768px) {
  .section-padding {
    padding: 90px 0 100px; } }
.section {
  background-color: #ffffff; }

.section-subheader {
  font-size: 18px;
  text-align: center; }

.section-caption {
  background-color: rgba(232, 142, 46, 0.8);
  padding: 20px 0;
  margin-bottom: 50px;
  width: 100%;
  font-size: 20px;
  color: #ffffff; }

.btn {
  border: none;
  border-radius: 0; }

.btn-default {
  background-color: #cccccc; }

.btn-primary {
  background-color: #e88e2e; }
  .btn-primary .logo {
    color: #ffffff; }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #ffffff;
    color: #ff9933; }

.btn-lg {
  padding: 15px 25px;
  font-size: 20px; }

/* ==========================================================================
Navigation
========================================================================== */
nav,
.navbar.navbar, .navbar-default.navba {
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: -1px;
  color: #000000;
  padding-top: 10px;
  padding-bottom: 10px; }
  nav .btn,
  .navbar.navbar .btn, .navbar-default.navba .btn {
    margin-left: 15px; }
  nav a,
  .navbar.navbar a, .navbar-default.navba a {
    color: #000000; }
  nav a:hover,
  .navbar.navbar a:hover, .navbar-default.navba a:hover {
    color: #e88e2e; }
  nav .pricing-btn,
  .navbar.navbar .pricing-btn, .navbar-default.navba .pricing-btn {
    color: #ffffff;
    float: right; }

.navbar.navbar .pricing-btn::after {
  content: '';
  display: inline-block;
  width: 100%;
  clear: both; }

.logo-container a {
  display: inline-block;
  max-width: 100%; }
.logo-container img {
  max-width: 100%; }

.top-link-container {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 25px;
  margin: 0 10px; }

.social-media,
.menu-nav {
  padding-left: 0;
  list-style: none;
  position: absolute;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  transition: all .4s ease-out; }
  .social-media li,
  .menu-nav li {
    display: inline-block;
    padding: 5px 10px;
    line-height: 26px;
    text-transform: uppercase; }
    .social-media li i,
    .menu-nav li i {
      font-size: 18px; }
  .social-media a:hover,
  .menu-nav a:hover {
    color: #e88e2e; }

@media (max-width: 991px) {
  .menu-items {
    float: right; }

  .social-media, .menu-nav {
    position: fixed;
    width: 100%;
    right: 0;
    text-align: center;
    top: 50px; }
    .social-media li, .menu-nav li {
      margin: 0 20px; }

  .mobile-trigger {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer; }
    .mobile-trigger + label {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9;
      font-size: 17px;
      line-height: 2;
      font-weight: lighter; }
      .mobile-trigger + label span {
        color: #333333;
        margin-left: 10px; }
    .mobile-trigger:checked ~ ul {
      visibility: visible;
      opacity: 1; }
    .mobile-trigger:checked ~ label {
      color: #ff9933; } }
@media (min-width: 992px) {
  .top-link-container {
    width: auto; }

  .social-media,
  .menu-nav {
    display: inline;
    position: relative;
    opacity: 1;
    visibility: visible;
    background-color: transparent; }
    .social-media li,
    .menu-nav li {
      display: inline-block; }

  .mobile-trigger,
  .mobile-trigger ~ label {
    display: none; } }
@media (max-width: 600px) {
  .top-link-container {
    width: 15px; }

  .mobile-trigger + label span {
    display: none; } }
@media (max-width: 480px) {
  width: 15px; }
/* ==========================================================================
Hero
========================================================================== */
.section-hero {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  padding-top: 0 !important;
  padding-bottom: 0 !important; }
  .section-hero .fp-tableCell {
    vertical-align: top; }
  .section-hero .section-caption {
    position: absolute;
    bottom: 50px;
    margin-bottom: 0; }
    .section-hero .section-caption a,
    .section-hero .section-caption a .logo {
      color: #ffffff; }
  .section-hero .section-slogan {
    font-size: 35px;
    margin-top: 15%;
    color: #333333; }
  .section-hero .slide {
    background-size: cover;
    background-position: center center;
    position: relative; }
  .section-hero .container {
    padding-top: 85px; }
  .section-hero .slide-content {
    color: #333333; }
  .section-hero .btn-getstarted {
    background-color: rgba(255, 153, 51, 0.8);
    color: #000000;
    width: 270px;
    margin-bottom: 50px;
    font-weight: 700;
    transition: all .4s; }
    .section-hero .btn-getstarted:hover {
      background-color: #ff9933;
      color: #ffffff; }
  .section-hero .contentbox-1 p {
    font-size: 35px;
    text-transform: uppercase; }
  .section-hero .contentbox-2 {
    max-width: 350px;
    margin-bottom: 30px; }

.btn-interview {
  font-size: 20px;
  padding: 10px 45px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  background-color: rgba(234, 234, 234, 0.7);
  width: 270px;
  color: #000000;
  transition: all .4s; }
  .btn-interview:hover {
    background-color: #eaeaea; }

@media (min-width: 992px) {
  .section-hero #t_slide_1 .contentbox-1 {
    text-align: left;
    max-width: 500px; }
    .section-hero #t_slide_1 .contentbox-1 p {
      text-align: left; }
  .section-hero .contentbox-1 {
    text-align: left; }
  .section-hero .contentbox-1 p {
    text-align: left;
    padding: 0 0  0 0; }
  .section-hero .contentbox-2 {
    max-width: 500px;
    padding: 20px 0 0 0;
    text-align: left; } }
@media (max-width: 767px) {
  .section-hero .fp-tableCell {
    vertical-align: top;
    height: auto !important; }
  .section-hero .fp-slidesNav.bottom {
    bottom: auto !important;
    top: 255px !important; } }
.mobile-section-hero {
  padding-top: 50px;
  margin-bottom: 75px;
  position: relative; }
  .mobile-section-hero .flex-viewport {
    position: initial !important; }

#flexslider-banner {
  margin-bottom: 20px; }

.flexslider-content {
  text-align: center;
  padding: 0 20px; }
  .flexslider-content h2 {
    font-size: 22px; }
  .flexslider-content .image-holder {
    margin-bottom: 20px; }
  .flexslider-content .flex-content {
    opacity: 0;
    visibility: hidden;
    position: absolute; }
    .flexslider-content .flex-content.is-active {
      opacity: 1;
      visibility: visible;
      position: relative;
      transition: all .4s ease; }
    .flexslider-content .flex-content .btn-interview {
      margin: 15px 0;
      display: inline-block; }
    .flexslider-content .flex-content .logo {
      font-size: 35px; }

@media (min-width: 768px) {
  .section-hero .slide#t_slide_1 {
    background-image: url("../images/en-banner-bg-1-m.jpg"); }
  .section-hero .slide#t_slide_2 {
    background-image: url("../images/slide-2-m.jpg"); }
  .section-hero .slide#t_slide_3 {
    background-image: url("../images/slide-3-m.jpg"); } }
@media (min-width: 992px) {
  .section-hero .slide#t_slide_1 {
    background-image: url("../images/en-banner-bg-1.jpg"); }
  .section-hero .slide#t_slide_2 {
    background-image: url("../images/slide-2.jpg"); }
  .section-hero .slide#t_slide_3 {
    background-image: url("../images/slide-3.jpg"); } }
.step-arrow {
  display: block;
  background-image: url("../images/arrow-right.png");
  width: 10px;
  height: 18px; }

#surveyor {
  padding: 50px 10px 10px 10px;
  font-size: 26px;
  line-height: 44px;
  color: #000000;
  background-color: #ff9933;
  transition: all .7s ease;
  -webkit-transition: all .7s ease;
  position: relative; }
  #surveyor p {
    font-size: 22px;
    line-height: 44px;
    padding: 0 10px;
    margin-bottom: 50px; }
  #surveyor .button-container .btn {
    color: #ff9933;
    background-color: #ffffff;
    width: 48%;
    height: 75px;
    vertical-align: middle;
    padding: 8px 8px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease; }
    #surveyor .button-container .btn span {
      font-size: 12px; }
    #surveyor .button-container .btn:hover {
      box-shadow: none;
      background: #e88e2e;
      color: #ffffff; }

/* ==========================================================================
Follow Up Questions
========================================================================== */
#followUpQuestions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #ff9933;
  transition: all .7 ease;
  -webkit-transition: all .7 ease; }
  #followUpQuestions p {
    color: #ffffff; }
  #followUpQuestions.hide {
    visibility: hidden;
    opacity: 0; }

.fq-container {
  width: 100%;
  padding: 0 20px;
  height: 100%;
  margin: 0 auto;
  display: table;
  vertical-align: top;
  padding-top: 75px; }

.fq-wrapper h2::after {
  content: none; }

#fqClose {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 25px;
  cursor: pointer; }

.steps li {
  background: url("../images/bullet.png") left center no-repeat;
  padding-left: 30px;
  margin-bottom: 35px; }
.steps label {
  margin-right: 25px;
  padding-top: 10px;
  margin-bottom: 0; }
.steps p {
  display: inline-block; }

.fp-controlArrow.fp-prev {
  border: none;
  width: 37px !important;
  height: 38px;
  background: url("../images/slider-prev.png"); }

.fp-controlArrow.fp-next {
  border: none;
  width: 37px;
  height: 38px;
  background: url("../images/slider-next.png"); }

.header-outlined {
  border: 1px solid #B6B6B6;
  text-align: center;
  margin-bottom: 18px;
  margin-top: 30px; }

.container-outlined {
  border: 1px solid #e88e2e;
  padding: 10px;
  position: relative; }
  .container-outlined .header-outlined {
    position: absolute;
    display: block;
    padding: 0 10px;
    font-size: 24px;
    top: -33px;
    left: 15px;
    background: #ffffff; }

#support-outline {
  height: 385px; }

#planPlus {
  margin-bottom: 20px; }

@media (min-width: 992px) {
  #planPlus {
    margin-top: 150px; } }
.mpb {
  margin-bottom: 0 !important; }

.mb35 {
  margin-bottom: 35px; }

.pt0 {
  padding-top: 0 !important; }

/* ==========================================================================
Features
========================================================================== */
.multi-device-image {
  text-align: center; }
  .multi-device-image img {
    max-width: 100%; }

@media (max-width: 991px) {
  .multi-device-image {
    text-align: center; } }
.features-bubble {
  padding-left: 0;
  list-style: none;
  text-align: center; }
  .features-bubble li {
    display: inline-block;
    margin: 10px 60px;
    width: 190px;
    text-align: center;
    vertical-align: top; }
  .features-bubble .feature-img {
    display: inline-block;
    width: 175px;
    height: 175px;
    border-radius: 175px;
    background-color: rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: center center;
    margin-bottom: 20px;
    border: 1px solid transparent;
    -webkit-transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .features-bubble .feature-img:hover {
    border: 1px solid #ff9933;
    transform: scale(1.2, 1.2); }

@media (max-width: 767px) {
  .features-bubble li {
    margin: 10px 2%;
    width: 90px;
    text-align: center; }
    .features-bubble li .feature-img {
      width: 75px;
      height: 75px; } }
/* ==========================================================================
How-to
========================================================================== */
.channels {
  list-style: none;
  padding-left: 0;
  width: 100%;
  display: inline-block;
  margin-top: 50px; }
  .channels > li {
    position: relative;
    display: inline-block;
    width: 24%;
    text-align: justify;
    vertical-align: top;
    transition: all .4s ease; }
    .channels > li .channel-wrapper {
      height: 375px;
      width: 100%;
      padding: 0 20px;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      z-index: 1;
      transition: all .4s ease; }
    .channels > li img {
      max-width: 150px; }
    .channels > li .channel-title {
      margin: 20px 0 10px 0;
      min-height: 50px;
      padding: 0 10px;
      border-bottom: 1px solid #ff9933;
      position: relative;
      text-align: center; }
      .channels > li .channel-title::after {
        font: normal normal normal 14px/1 FontAwesome;
        display: block;
        position: absolute;
        top: 0;
        right: 0; }
    .channels > li .channel-img {
      min-height: 150px;
      text-align: center; }
    .channels > li .channel-wrapper:before {
      content: '';
      z-index: -1;
      background-color: #ff9933;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      opacity: 0;
      transition: all .4s ease; }
    .channels > li .channel-wrapper:hover {
      cursor: pointer; }
      .channels > li .channel-wrapper:hover .channel-title {
        color: #ff9933; }
    .channels > li.active .channel-wrapper {
      color: #ff9933; }
    .channels > li.active .channel-stages {
      opacity: 1;
      visibility: visible;
      position: absolute;
      transition: all .6s ease;
      -webkit-transition-delay: .2s;
      /* Safari */
      transition-delay: .2s; }
    .channels > li.active .channel-title::after {
      content: "\002B";
      opacity: 1;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .channels > li.inactive, .channels > li.inactive .channel-wrapper {
      opacity: 0;
      width: 0;
      padding: 0 0 0 0;
      margin: 0 0 0 0;
      visibility: hidden;
      height: 0; }
  .channels .channel-stages {
    position: fixed;
    width: 900px;
    height: 293px;
    top: 0;
    left: 250px;
    padding-left: 0;
    opacity: 0;
    visibility: hidden; }
    .channels .channel-stages li {
      width: 25%;
      padding: 0 15px;
      list-style: none;
      float: left;
      position: relative; }
    .channels .channel-stages li .image-box {
      width: 100%;
      height: 110px;
      margin-bottom: 15px;
      text-align: center; }
    .channels .channel-stages li .image-box img {
      max-height: 100%;
      width: auto; }
    .channels .channel-stages li .description-box {
      width: 100%;
      height: 168px;
      padding: 10px;
      text-align: justify; }
    .channels .channel-stages li .step-arrow {
      position: absolute;
      right: 0;
      top: 60px;
      font-size: 20px; }

@media (max-width: 1200px) {
  .channels > li.active .channel-stages {
    width: 760px;
    left: 210px; } }
@media (max-width: 992px) {
  .channels > li img {
    max-width: 100px; }
  .channels > li .channel-wrapper {
    padding: 0 10px; }
  .channels > li .channel-title {
    min-height: 50px;
    font-size: 16px; }
  .channels > li .channel-img {
    min-height: 100px; }
  .channels > li.active {
    width: 100%; }
    .channels > li.active .channel-wrapper {
      height: auto;
      padding-bottom: 20px; }
    .channels > li.active .channel-stages {
      position: relative;
      left: 0;
      top: 0;
      width: 100%; }
  .channels .channel-stages > li .image-box img {
    max-width: 100px; } }
@media (max-width: 767px) {
  .channels > li {
    width: 100%;
    font-size: 12px;
    margin-bottom: 20px; }
    .channels > li img {
      max-width: 100%; }
    .channels > li .channel-wrapper {
      height: auto; }
    .channels > li .channel-img {
      max-width: 75px;
      float: left;
      margin-right: 10px;
      min-height: 0; }
    .channels > li p {
      display: none; }
    .channels > li .channel-title {
      font-size: 14px;
      border-bottom: none;
      float: left;
      text-align: left;
      width: 150px; }
    .channels > li .channel-title::after {
      top: -22px;
      right: -22px; }

  .channels .channel-stages {
    padding-left: 0;
    list-style: none;
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: left;
    margin-top: 0;
    visibility: 0;
    opacity: 0; }
    .channels .channel-stages li {
      display: inline-block;
      width: 100%;
      position: relative;
      padding-left: 40px;
      padding-right: 0;
      vertical-align: top;
      margin-bottom: 10px; }
      .channels .channel-stages li .step-arrow {
        position: absolute;
        top: 56px;
        right: -11px; }
      .channels .channel-stages li .image-box {
        min-height: 0;
        height: auto;
        width: 75px;
        float: left;
        margin-right: 10px; }
      .channels .channel-stages li .image-box img {
        max-width: 100%; }
      .channels .channel-stages li .description-box {
        height: auto;
        text-align: left; }
      .channels .channel-stages li .step-arrow {
        display: none; } }
#section-plan {
  padding-bottom: 0; }

/* ==========================================================================
Footer
========================================================================== */
#faq-container {
  margin-top: 30px; }

.flag-icon {
  float: left;
  margin-top: 2px;
  margin-right: 5px;
  width: 16px;
  height: 16px;
  display: block; }

.flag-us {
  background: url(../images/flag-unitedstate.png) 0 0 no-repeat; }

.flag-jp {
  background: url(../images/flag-japan.png) 0 0 no-repeat; }

footer {
  background-color: #333333;
  color: #ffffff;
  width: 100%;
  padding: 20px 0 5px 0;
  margin-top: 50px; }
  footer .footer-nav {
    float: left;
    margin-left: -15px;
    margin-top: 20px; }
  footer .footer-nav li {
    float: left;
    font-size: 12px; }
    footer .footer-nav li a {
      color: #ffffff;
      padding: 0 15px; }
    footer .footer-nav li a .logo {
      line-height: normal;
      color: #ffffff; }
    footer .footer-nav li a:hover,
    footer .footer-nav li a:hover .logo {
      background-color: transparent;
      color: #ff9933; }
    footer .footer-nav li:last-child {
      border-right: none; }
  footer .setup-popover {
    color: #fff;
    border-radius: 0;
    cursor: pointer;
    padding-left: 0;
    padding-right: 0; }
  footer .getsstartedbox {
    float: left;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px; }
  footer .facebook-box {
    float: left; }
  footer .btn-primary {
    background-color: #ff9933;
    font-size: 20px;
    color: #333333;
    padding: 10px 45px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    width: 220px;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700; }
    footer .btn-primary .logo {
      color: #727272; }
    footer .btn-primary:hover .logo {
      color: #ffffff; }
  footer .copyright {
    font-size: 12px;
    padding-top: 16px; }
  footer p {
    font-size: 11px;
    color: #ffffff;
    display: block;
    margin-top: 0;
    margin-bottom: 0; }
  footer .logo {
    color: #ffffff;
    font-size: 46px;
    display: block;
    margin-top: -17px;
    float: right; }

.banner-container {
  text-align: center; }
  .banner-container > a {
    display: inline-block;
    width: 350px;
    margin: 40px 50px; }

@media (min-width: 1200px) {
  footer .footer-nav {
    float: right;
    margin-left: 0;
    margin-top: 0; } }
@media (max-width: 767px) {
  footer .getsstartedbox {
    float: none; }
  footer .facebook-box {
    display: block;
    text-align: center;
    margin: 20px auto 0 auto;
    width: 300px;
    max-width: 80%;
    float: none !important; }
  footer .footer-nav {
    display: block;
    width: 100%;
    margin: 20px auto 10px auto;
    text-align: center; }
    footer .footer-nav li {
      float: none;
      display: inline-block; }
  footer p {
    text-align: center; }
  footer .logo {
    margin-top: 0;
    float: none;
    margin: 0 auto;
    text-align: center; } }
.fp-slidesNav.bottom {
  bottom: 0 !important; }

.section-features .fp-tableCell {
  padding-bottom: 32px; }

.fp-scrollable {
  padding-top: 20px; }

.popupbox {
  background-color: #f6f6f6;
  max-width: 400px;
  width: 90%;
  height: auto;
  max-height: 96%;
  top: 4%;
  overflow-x: hidden;
  padding: 0 0 20px;
  margin: 0 auto;
  position: relative; }
  .popupbox .btn {
    margin-left: 10px;
    width: 75px; }
  .popupbox .popup-header {
    background-color: #ff9933;
    color: #ffffff;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    text-transform: capitalize; }
  .popupbox .popup-body {
    padding: 20px; }
    .popupbox .popup-body .plan-title {
      padding-bottom: 10px; }
    .popupbox .popup-body > div {
      padding-bottom: 20px; }
  .popupbox .popup-footer {
    padding: 20px; }

@media (max-width: 767px) {
  .popupbox .popup-body {
    height: auto; } }
.popup-bg {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 1031;
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  transition: all .4s; }

.popup-bg.show {
  visibility: visible;
  opacity: 1; }

.plan-calculator ul {
  list-style: none;
  padding-left: 0;
  display: inline-block;
  width: 100%; }
.plan-calculator li {
  position: relative;
  float: left;
  width: 48%;
  margin-right: 2%;
  border: 1px solid #cccccc;
  text-align: center; }
.plan-calculator li:last-child {
  margin-right: 0; }
.plan-calculator .plan-type li {
  width: 31.3%; }
.plan-calculator label {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  padding: 10px;
  font-weight: normal;
  text-transform: uppercase; }
  .plan-calculator label span {
    color: #000000; }
.plan-calculator input[type=radio] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  cursor: pointer; }
.plan-calculator input[type=radio],
.plan-calculator label {
  height: 37px; }
.plan-calculator input[type=radio]:checked + label {
  background-color: #ff9933;
  color: #ffffff; }
  .plan-calculator input[type=radio]:checked + label span {
    color: #ffffff; }
.plan-calculator .price-total {
  border-bottom: 1px solid #cccccc; }
  .plan-calculator .price-total span {
    font-size: 22px;
    color: #ff9933; }
  .plan-calculator .price-total span.total-amount {
    margin-left: 20px; }

.plan-type label {
  height: 55px; }
.plan-type i {
  font-style: normal; }

@media (max-width: 767px) {
  .plan-type label {
    height: 85px; } }
.registration-form label {
  font-weight: normal; }
.registration-form input[type=text] {
  border-radius: 0;
  border: none; }

.inside-page {
  padding-top: 70px; }

.interview-holder,
.terms-holder,
.press-release-holder {
  max-width: 960px;
  margin: 10px auto 20px auto; }

/* INTERVIEW LISTING */
.interview-listing {
  max-width: 960px;
  padding-top: 10px; }

.inter-list {
  border: 1px solid #ccc;
  margin-bottom: 30px;
  background-color: #fff; }

.img-holder {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center center; }

@media (min-width: 768px) {
  .img-holder {
    height: 375px; } }
.inter-list .inter-desc {
  background-color: #fff;
  padding: 15px;
  padding-bottom: 50px;
  border-right: 1px solid #ccc;
  position: relative; }

@media (min-width: 768px) {
  .inter-list .inter-desc {
    height: 375px; } }
.inter-desc .inter-arrow {
  background: url(../images/inter-list-arrow.png) 0 0 no-repeat;
  width: 24px;
  height: 48px;
  position: absolute;
  top: 50%;
  right: -24px;
  margin-top: -24px;
  z-index: 2; }

.inter-desc .logo-1 {
  background: url(../images/inter-list-logo-1.png) 0 0 no-repeat;
  width: 50px;
  height: 50px;
  margin: 0 auto 30px;
  display: block;
  background-size: contain; }

.inter-desc .logo-2 {
  background: url(../images/inter-list-logo-2.png) 0 0 no-repeat;
  width: 175px;
  height: 50px;
  margin: 0 auto 30px;
  display: block; }

.inter-desc h2,
.inter-desc h2 a {
  font-family: 'open_sansbold';
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
  text-align: center; }

.inter-desc p {
  font-size: 12px;
  line-height: 20px;
  color: #777;
  margin-bottom: 15px; }

.inter-desc .btn-readmore {
  background-color: rgba(254, 204, 59, 0.7);
  font-family: 'open_sansbold';
  font-size: 14px;
  color: #333;
  padding: 10px 25px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 180px;
  display: block;
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-left: -90px; }

.inter-desc .btn-readmore:focus,
.inter-desc .btn-readmore:hover {
  background-color: #fecc3b;
  color: #333;
  text-decoration: none; }

/* INTERVIEW PAGE */
.interview-holder p {
  text-align: justify; }

.interview-holder h1 {
  font-family: 'open_sansbold';
  font-size: 20px;
  color: #333; }

.interview-holder .orangebar {
  background-color: #fa943e;
  padding: 5px;
  color: #fff;
  margin-bottom: 0;
  font-weight: 700;
  float: left; }

.interview-holder .interview-date {
  float: right; }

.interview-holder p .firstline {
  color: #fa943e;
  margin-bottom: 10px;
  display: block; }

.interview-holder .img-inline {
  float: right;
  margin-left: 15px;
  margin-bottom: 0;
  display: block; }

.company-infobox {
  background-color: #f4f4f4;
  padding: 15px 225px 15px 162px;
  display: block;
  text-align: center;
  position: relative; }

.company-infobox .company-infobox-desc {
  float: left;
  margin: 0 33px;
  text-align: left;
  width: 100%; }

.company-infobox .company-infobox-desc a.fb-icon-square {
  background: url(../images/icons/facebook-square.png) no-repeat;
  display: block;
  padding-left: 25px;
  margin-top: 10px;
  font-size: 14px;
  word-wrap: break-word; }

.company-infobox .company-logo {
  background: url(../images/tsukada-logo.png) no-repeat;
  float: left;
  width: 160px;
  height: 160px;
  margin: 0;
  left: 15px;
  position: absolute; }

.company-infobox .company-personnel {
  float: right;
  width: 160px;
  margin: 0;
  position: absolute;
  right: 15px; }

.company-infobox .btn-applynow {
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  background-color: rgba(161, 127, 52, 0.1);
  display: inline-block;
  margin-top: 10px; }

.company-infobox .btn-applynow > p {
  font-size: 16px;
  color: #a17f34;
  margin-bottom: 0;
  text-align: center; }

.company-infobox .btn-applynow:hover, .interview-holder .company-infobox .btn-applynow:focus {
  background-color: #a17f34;
  text-decoration: none; }

.company-infobox .btn-applynow:hover > p, .interview-holder .company-infobox .btn-applynow:focus > p {
  color: #fff; }

@media (max-width: 767px) {
  .company-infobox {
    padding: 15px 15px 15px 15px; }

  .company-infobox .company-infobox-desc {
    width: 100%;
    margin: 0 0 15px 0;
    text-align: center; }

  .company-infobox .company-logo,
  .company-infobox .company-personnel {
    position: relative;
    left: 0;
    top: 0;
    float: none;
    margin: 15px auto; } }
.press-release-holder article {
  clear: both;
  position: relative; }

@media (min-width: 768px) {
  .press-release-holder article {
    padding-left: 100px; } }
@media (max-width: 767px) {
  .press-release-holder article .read-more {
    float: right; } }
article header {
  margin-bottom: 15px;
  border: none;
  box-shadow: none; }

.press-release-holder h1 {
  font-family: 'open_sansbold';
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 60px; }

article h2 a,
article h2 a:visited,
article h2 a:link {
  text-align: left;
  color: #303130;
  text-decoration: none; }

article {
  margin-bottom: 100px;
  display: inline-block; }

article .article-date {
  display: block;
  margin: 0 auto 20px auto;
  left: 0;
  top: 0;
  width: 75px;
  border: 1px dotted #ff9933;
  font-size: 12px;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  color: #000000;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

@media (min-width: 768px) {
  article .article-date {
    position: absolute; } }
.press-release-holder h1 {
  color: #303130;
  font-size: 24px;
  font-family: 'open_sanslight';
  line-height: normal; }

.press-release-holder article h2 {
  line-height: normal;
  margin-bottom: 25px;
  font-size: 24px; }

@media (max-width: 768px) {
  .press-release-holder article h2 {
    text-align: left; } }
.section-2 .press-release-holder p {
  margin-bottom: 15px; }

.press-release-holder article a:hover {
  color: #ff9933; }

article .article-date b {
  font-size: 30px;
  line-height: 1; }

@media (min-width: 768px) {
  .custom-margin-right {
    margin-right: 0 !important; }

  .custom-padding-right {
    padding-right: 0 !important; }

  .custom-padding-left {
    padding-left: 0 !important; } }
/* ==========================================================================
Waypoints
========================================================================== */
.wp {
  visibility: hidden;
  height: 0; }

.animted {
  height: auto; }

.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight {
  visibility: visible; }

.delay-05s {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s; }

.delay-1s {
  animation-delay: 1s;
  -webkit-animation-delay: 1s; }

.wp3 {
  background: url("../img/iphone-bg.png") no-repeat center center;
  background-position: 200px 10px;
  height: 100%; }

/* ==========================================================================
Pricing Table
========================================================================== */
.cd-pricing-header {
  position: relative;
  height: auto; }
  .cd-pricing-header h2,
  .cd-pricing-header .cd-value {
    color: #ffffff;
    font-size: 22px; }
  .cd-pricing-header .btn {
    position: absolute;
    right: 20px;
    top: 20px; }
  .cd-pricing-header span {
    color: #ffffff; }

.cd-header {
  line-height: 170px;
  position: relative; }

.cd-header h1 {
  text-align: center;
  color: #FFFFFF;
  font-size: 2.2rem; }

@media only screen and (min-width: 768px) {
  .cd-header {
    height: 160px;
    line-height: 280px; }

  .cd-header h1 {
    font-size: 3.6rem;
    font-weight: 300; }

  .cd-pricing-header h2,
  .cd-pricing-header .cd-value {
    color: #ff9933; }
  .cd-pricing-header .btn {
    position: relative;
    right: 0;
    top: 0; }
  .cd-pricing-header span {
    color: #ff9933; } }
.cd-pricing-container ul {
  list-style: none;
  padding-left: 0; }

.cd-pricing-switcher {
  text-align: center; }

.cd-pricing-switcher .fieldset {
  display: inline-block;
  position: relative; }

.cd-pricing-switcher input[type="radio"] {
  position: absolute;
  opacity: 0; }

.cd-pricing-switcher label {
  position: relative;
  z-index: 1;
  display: inline-block;
  float: left;
  width: 90px;
  height: 40px;
  line-height: 44px;
  cursor: pointer;
  color: #e88e2e;
  font-size: 12px; }

.cd-pricing-switcher input[type="radio"]:checked + label {
  color: #ffffff; }

.cd-pricing-switcher .cd-switch {
  /* floating background */
  position: absolute;
  top: 2px;
  left: 2px;
  height: 40px;
  width: 90px;
  background-color: #e88e2e;
  border-radius: 50em;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s; }

.cd-pricing-switcher input[type="radio"]:checked + label + .cd-switch,
.cd-pricing-switcher input[type="radio"]:checked + label:nth-of-type(n) + .cd-switch {
  /* use label:nth-of-type(n) to fix a bug on safari with multiple adjacent-sibling selectors*/
  -webkit-transform: translateX(90px);
  -moz-transform: translateX(90px);
  -ms-transform: translateX(90px);
  -o-transform: translateX(90px);
  transform: translateX(90px); }

.no-js .cd-pricing-switcher {
  display: none; }

.cd-pricing-list > li {
  position: relative;
  margin-bottom: 1em;
  list-style: none; }

@media only screen and (min-width: 768px) {
  .cd-pricing-list:after {
    content: "";
    display: table;
    clear: both; }

  .cd-pricing-list > li {
    width: 33.3333333333%;
    float: left; } }
.cd-pricing-wrapper {
  /* this is the item that rotates */
  position: relative; }

.touch .cd-pricing-wrapper {
  /* fix a bug on IOS8 - rotating elements dissapear*/
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  perspective: 2000px; }

.cd-pricing-wrapper.is-switched .is-visible {
  /* totate the tables - anticlockwise rotation */
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-animation: cd-rotate 0.5s;
  -moz-animation: cd-rotate 0.5s;
  animation: cd-rotate 0.5s; }

.cd-pricing-wrapper.is-switched .is-hidden {
  /* totate the tables - anticlockwise rotation */
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
  -webkit-animation: cd-rotate-inverse 0.5s;
  -moz-animation: cd-rotate-inverse 0.5s;
  animation: cd-rotate-inverse 0.5s;
  opacity: 0; }

.cd-pricing-wrapper.is-switched .is-selected {
  opacity: 1; }

.cd-pricing-wrapper.is-switched.reverse-animation .is-visible {
  /* invert rotation direction - clockwise rotation */
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-animation: cd-rotate-back 0.5s;
  -moz-animation: cd-rotate-back 0.5s;
  animation: cd-rotate-back 0.5s; }

.cd-pricing-wrapper.is-switched.reverse-animation .is-hidden {
  /* invert rotation direction - clockwise rotation */
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
  -webkit-animation: cd-rotate-inverse-back 0.5s;
  -moz-animation: cd-rotate-inverse-back 0.5s;
  animation: cd-rotate-inverse-back 0.5s;
  opacity: 0; }

.cd-pricing-wrapper.is-switched.reverse-animation .is-selected {
  opacity: 1; }

.cd-pricing-wrapper > li {
  background-color: #FFFFFF;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* Firefox bug - 3D CSS transform, jagged edges */
  outline: 1px solid transparent; }

.cd-pricing-wrapper > li::after {
  /* subtle gradient layer on the right - to indicate it's possible to scroll */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50px;
  pointer-events: none;
  background: -webkit-linear-gradient(right, #FFFFFF, rgba(255, 255, 255, 0));
  background: linear-gradient(to left, #FFFFFF, rgba(255, 255, 255, 0)); }

.cd-pricing-wrapper > li.is-ended::after {
  /* class added in jQuery - remove the gradient layer when it's no longer possible to scroll */
  display: none; }

.cd-pricing-wrapper .is-visible {
  /* the front item, visible by default */
  position: relative;
  z-index: 5; }

.cd-pricing-wrapper .is-hidden {
  /* the hidden items, right behind the front one */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.cd-pricing-wrapper .is-selected {
  /* the next item that will be visible */
  z-index: 3 !important; }

@media only screen and (min-width: 768px) {
  .cd-pricing-wrapper > li::before {
    /* separator between pricing tables - visible when number of tables > 3 */
    content: '';
    position: absolute;
    z-index: 6;
    left: -1px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 100%;
    width: 1px;
    background-color: #cccccc; }

  .cd-pricing-wrapper > li::after {
    /* hide gradient layer */
    display: none; }

  .cd-popular .cd-pricing-wrapper > li {
    box-shadow: inset 0 0 0 3px #e97d68; }

  :nth-of-type(1) > .cd-pricing-wrapper > li::before {
    /* hide table separator for the first table */
    display: none; } }
.no-js .cd-pricing-wrapper .is-hidden {
  position: relative;
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
  margin-top: 1em; }

@media only screen and (min-width: 768px) {
  .cd-popular .cd-pricing-wrapper > li::before {
    /* hide table separator for .cd-popular table */
    display: none; }

  .cd-popular + li .cd-pricing-wrapper > li::before {
    /* hide table separator for tables following .cd-popular table */
    display: none; } }
.cd-pricing-header {
  position: relative;
  z-index: 1;
  padding: 1em;
  background-color: #ff9933;
  color: #ffffff; }
  .cd-pricing-header span {
    color: #ff9933; }

.cd-pricing-header h2 {
  margin-bottom: 3px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ff9933; }

.cd-popular .cd-pricing-header {
  background-color: #ff9933; }

@media only screen and (min-width: 768px) {
  .cd-pricing-header {
    padding: 0 0 1.1em 0;
    pointer-events: auto;
    text-align: center;
    color: #173d50;
    background-color: transparent; }
    .cd-pricing-header .cd-price {
      padding: 0 0 0.7em 0; }

  .cd-popular .cd-pricing-header {
    color: #e97d68;
    background-color: transparent; }

  .cd-pricing-header h2 {
    font-size: 1.8rem;
    letter-spacing: 2px; } }
.cd-currency, .cd-value {
  font-size: 32px;
  font-weight: 300; }

.cd-duration {
  font-weight: 700;
  font-size: 1.3rem;
  color: #8dc8e4;
  text-transform: uppercase; }

.cd-popular .cd-duration {
  color: #f3b6ab; }

.cd-duration::before {
  content: '/';
  margin-right: 2px; }

@media only screen and (min-width: 768px) {
  .cd-value {
    font-size: 32px;
    font-weight: 300; }

  .cd-currency, .cd-duration {
    color: rgba(23, 61, 80, 0.4); }

  .cd-popular .cd-currency, .cd-popular .cd-duration {
    color: #e97d68; }

  .cd-currency {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700; }

  .cd-duration {
    font-size: 1.4rem; } }
.cd-pricing-body {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; }

.is-switched .cd-pricing-body {
  /* fix a bug on Chrome Android */
  overflow: hidden; }

@media only screen and (min-width: 768px) {
  .cd-pricing-body {
    overflow-x: visible; } }
.cd-pricing-features {
  width: 100%; }

.cd-pricing-features:after {
  content: "";
  display: table;
  clear: both; }

.cd-pricing-features li {
  width: 100%;
  color: #000000;
  padding: 1.6em 1em;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.cd-pricing-features.block {
  background-color: rgba(23, 61, 80, 0.06);
  padding: 1.6em 1em;
  height: 242px; }

.cd-pricing-features em {
  display: block;
  margin-bottom: 5px;
  font-weight: 600; }

@media only screen and (min-width: 768px) {
  .cd-pricing-features {
    width: auto; }

  .cd-pricing-features li {
    float: none;
    width: auto;
    padding: 1em;
    text-align: center; }

  .cd-popular .cd-pricing-features li {
    margin: 0 3px; }

  .cd-pricing-features li:nth-of-type(2n+1) {
    background-color: rgba(23, 61, 80, 0.06); }

  .cd-pricing-features em {
    display: inline-block;
    margin-bottom: 0; } }
.cd-pricing-footer {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  /* on mobile it covers the .cd-pricing-header */
  height: 80px;
  width: 100%; }

.cd-pricing-footer::after {
  /* right arrow visible on mobile */
  content: '';
  position: absolute;
  right: 1em;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  background: url(../img/cd-icon-small-arrow.svg); }

@media only screen and (min-width: 768px) {
  .cd-pricing-footer {
    position: relative;
    height: auto;
    padding: 0.5em 0;
    text-align: center; }

  .cd-pricing-footer::after {
    /* hide arrow */
    display: none; } }
.cd-select {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  /* hide button text on mobile */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent; }

@media only screen and (min-width: 768px) {
  .cd-select {
    position: static;
    display: inline-block;
    height: auto;
    padding: 1.3em 3em;
    color: #FFFFFF;
    border-radius: 2px;
    background-color: #0c1f28;
    font-size: 1.4rem;
    text-indent: 0;
    text-transform: uppercase;
    letter-spacing: 2px; }

  .no-touch .cd-select:hover {
    background-color: #112e3c; }

  .cd-popular .cd-select {
    background-color: #e97d68; }

  .no-touch .cd-popular .cd-select:hover {
    background-color: #ec907e; }

  .no-touch .cd-secondary-theme .cd-popular .cd-select:hover {
    background-color: #112e3c; } }
/* -------------------------------- 

xkeyframes 

-------------------------------- */
@-webkit-keyframes cd-rotate {
  0% {
    -webkit-transform: perspective(2000px) rotateY(0); }
  70% {
    /* this creates the bounce effect */
    -webkit-transform: perspective(2000px) rotateY(200deg); }
  100% {
    -webkit-transform: perspective(2000px) rotateY(180deg); } }
@-moz-keyframes cd-rotate {
  0% {
    -moz-transform: perspective(2000px) rotateY(0); }
  70% {
    /* this creates the bounce effect */
    -moz-transform: perspective(2000px) rotateY(200deg); }
  100% {
    -moz-transform: perspective(2000px) rotateY(180deg); } }
@keyframes cd-rotate {
  0% {
    -webkit-transform: perspective(2000px) rotateY(0);
    -moz-transform: perspective(2000px) rotateY(0);
    -ms-transform: perspective(2000px) rotateY(0);
    -o-transform: perspective(2000px) rotateY(0);
    transform: perspective(2000px) rotateY(0); }
  70% {
    /* this creates the bounce effect */
    -webkit-transform: perspective(2000px) rotateY(200deg);
    -moz-transform: perspective(2000px) rotateY(200deg);
    -ms-transform: perspective(2000px) rotateY(200deg);
    -o-transform: perspective(2000px) rotateY(200deg);
    transform: perspective(2000px) rotateY(200deg); }
  100% {
    -webkit-transform: perspective(2000px) rotateY(180deg);
    -moz-transform: perspective(2000px) rotateY(180deg);
    -ms-transform: perspective(2000px) rotateY(180deg);
    -o-transform: perspective(2000px) rotateY(180deg);
    transform: perspective(2000px) rotateY(180deg); } }
@-webkit-keyframes cd-rotate-inverse {
  0% {
    -webkit-transform: perspective(2000px) rotateY(-180deg); }
  70% {
    /* this creates the bounce effect */
    -webkit-transform: perspective(2000px) rotateY(20deg); }
  100% {
    -webkit-transform: perspective(2000px) rotateY(0); } }
@-moz-keyframes cd-rotate-inverse {
  0% {
    -moz-transform: perspective(2000px) rotateY(-180deg); }
  70% {
    /* this creates the bounce effect */
    -moz-transform: perspective(2000px) rotateY(20deg); }
  100% {
    -moz-transform: perspective(2000px) rotateY(0); } }
@keyframes cd-rotate-inverse {
  0% {
    -webkit-transform: perspective(2000px) rotateY(-180deg);
    -moz-transform: perspective(2000px) rotateY(-180deg);
    -ms-transform: perspective(2000px) rotateY(-180deg);
    -o-transform: perspective(2000px) rotateY(-180deg);
    transform: perspective(2000px) rotateY(-180deg); }
  70% {
    /* this creates the bounce effect */
    -webkit-transform: perspective(2000px) rotateY(20deg);
    -moz-transform: perspective(2000px) rotateY(20deg);
    -ms-transform: perspective(2000px) rotateY(20deg);
    -o-transform: perspective(2000px) rotateY(20deg);
    transform: perspective(2000px) rotateY(20deg); }
  100% {
    -webkit-transform: perspective(2000px) rotateY(0);
    -moz-transform: perspective(2000px) rotateY(0);
    -ms-transform: perspective(2000px) rotateY(0);
    -o-transform: perspective(2000px) rotateY(0);
    transform: perspective(2000px) rotateY(0); } }
@-webkit-keyframes cd-rotate-back {
  0% {
    -webkit-transform: perspective(2000px) rotateY(0); }
  70% {
    /* this creates the bounce effect */
    -webkit-transform: perspective(2000px) rotateY(-200deg); }
  100% {
    -webkit-transform: perspective(2000px) rotateY(-180deg); } }
@-moz-keyframes cd-rotate-back {
  0% {
    -moz-transform: perspective(2000px) rotateY(0); }
  70% {
    /* this creates the bounce effect */
    -moz-transform: perspective(2000px) rotateY(-200deg); }
  100% {
    -moz-transform: perspective(2000px) rotateY(-180deg); } }
@keyframes cd-rotate-back {
  0% {
    -webkit-transform: perspective(2000px) rotateY(0);
    -moz-transform: perspective(2000px) rotateY(0);
    -ms-transform: perspective(2000px) rotateY(0);
    -o-transform: perspective(2000px) rotateY(0);
    transform: perspective(2000px) rotateY(0); }
  70% {
    /* this creates the bounce effect */
    -webkit-transform: perspective(2000px) rotateY(-200deg);
    -moz-transform: perspective(2000px) rotateY(-200deg);
    -ms-transform: perspective(2000px) rotateY(-200deg);
    -o-transform: perspective(2000px) rotateY(-200deg);
    transform: perspective(2000px) rotateY(-200deg); }
  100% {
    -webkit-transform: perspective(2000px) rotateY(-180deg);
    -moz-transform: perspective(2000px) rotateY(-180deg);
    -ms-transform: perspective(2000px) rotateY(-180deg);
    -o-transform: perspective(2000px) rotateY(-180deg);
    transform: perspective(2000px) rotateY(-180deg); } }
@-webkit-keyframes cd-rotate-inverse-back {
  0% {
    -webkit-transform: perspective(2000px) rotateY(180deg); }
  70% {
    /* this creates the bounce effect */
    -webkit-transform: perspective(2000px) rotateY(-20deg); }
  100% {
    -webkit-transform: perspective(2000px) rotateY(0); } }
@-moz-keyframes cd-rotate-inverse-back {
  0% {
    -moz-transform: perspective(2000px) rotateY(180deg); }
  70% {
    /* this creates the bounce effect */
    -moz-transform: perspective(2000px) rotateY(-20deg); }
  100% {
    -moz-transform: perspective(2000px) rotateY(0); } }
@keyframes cd-rotate-inverse-back {
  0% {
    -webkit-transform: perspective(2000px) rotateY(180deg);
    -moz-transform: perspective(2000px) rotateY(180deg);
    -ms-transform: perspective(2000px) rotateY(180deg);
    -o-transform: perspective(2000px) rotateY(180deg);
    transform: perspective(2000px) rotateY(180deg); }
  70% {
    /* this creates the bounce effect */
    -webkit-transform: perspective(2000px) rotateY(-20deg);
    -moz-transform: perspective(2000px) rotateY(-20deg);
    -ms-transform: perspective(2000px) rotateY(-20deg);
    -o-transform: perspective(2000px) rotateY(-20deg);
    transform: perspective(2000px) rotateY(-20deg); }
  100% {
    -webkit-transform: perspective(2000px) rotateY(0);
    -moz-transform: perspective(2000px) rotateY(0);
    -ms-transform: perspective(2000px) rotateY(0);
    -o-transform: perspective(2000px) rotateY(0);
    transform: perspective(2000px) rotateY(0); } }
@media (min-width: 768px) {
  .mobile-section-hero,
  #flexslider-features,
  #flexslider-howto {
    display: none !important; } }
.company-holder {
  padding: 90px 0 220px 0; }

@media (max-width: 991px) {
  .slimScrollBar {
    display: none !important; } }
@media (max-width: 767px) {
  body, html {
    overflow: auto !important;
    overflow-x: hidden !important; }
    body.no-overflow, html.no-overflow {
      overflow: hidden !important; }

  h2 {
    font-size: 23px; }

  .fp-section,
  .slimScrollDiv,
  .fp-scrollable {
    height: auto !important;
    overflow: auto !important;
    overflow-x: hidden !important; }

  .slimScrollBar {
    display: none !important; }

  .social-media,
  .menu-nav {
    border: 1px solid #ff9933; }

  .cd-pricing-header h2 {
    color: #ffffff; }

  .cd-pricing-features li {
    padding: 5px 10px;
    font-size: 12px; }

  .cd-pricing-features br {
    display: none; }

  .cd-pricing-header .cd-currency,
  .cd-pricing-header .cd-value {
    font-size: 18px; }
  .cd-pricing-header span {
    color: #ffffff; }

  .cd-pricing-features.block {
    height: auto;
    text-align: center; } }
.flex-nav-next,
.flex-nav-prev {
  display: none; }

/*# sourceMappingURL=styles.css.map */
